header h1 {
  margin-top: 10px;
}

header #react-logo {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}
.sec-infos {
  margin-top: 20px;
  width: 550px;
  max-width: 95vw;
}

@media screen and (max-width: 576px) {
  header h1 {
    margin: 0px 9.6px 0px 9.53px;
  }
  .sec-infos {
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  header h1 {
    font-size: 28px;
  }
  
  .sec-infos {
    margin-top: 25px;
  }
}
